body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("./hocus-focus-bg-1.jpg");
    background-size : cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
.main-container{
    text-align: center;
}
#name-prompt{
    font-size: 3rem;
}
#input-focus, #input-name{
    font-size: 2rem;
    border : none;
    background: none;
    border-bottom: solid 0.16rem rgb(8, 8, 8);
}
#input-button-focus, #input-button-name{
    font-size: 1.5rem;
    text-size-adjust: 1.5rem;
    padding : 0.5rem 1rem;
    color: rgb(249, 245, 245);
    background-color: rgb(0, 0, 0);
    border-radius: 3rem;
}
#clock{
    font-size: 7rem;
}

#quote-area{
    font-size: 3rem;
    height: max-content;
    font-style: italic;
    position: fixed;
    bottom: 3rem;
    left: 3rem;
    right: 3rem;
}